.myHome{
  background-color: rgb(241, 241, 241) !important;
  //height: 2000px;
  .icon-favorite {
    font-size: 40px;
  }

  .to-deco-order {
    color: #FFF;
    font-size: 30px;
    font-family: PingFangSC-Regular;
  }

}

.over-critical .to-deco-order {
  color: #333;
  font-size: 30px;
  font-family: PingFangSC-Regular;
}
