@charset "utf-8";
@import "../../lib/scss/base";
.pageWrap {
    width: 100%;
    padding-top: 88px;
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
    &.ios-top {
        padding-top: 128px;
    }
    &.ios-iPhoneX {
        padding: 176px 0 68px;
    }
    .wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        flex-direction: column;
        text-align: center;
        >:nth-child(1) {
            margin-top: 50%;
        }
        .text {
            margin-bottom: 30px;
            div {
                margin: 10px 0;
                font-size: 28px;
            }
        }
        .icon {
            width: 180px;
            height: 180px;
            background: url('./img/success.png') no-repeat;
            background-size: 100% 100%;
        }
        .text {
            text-align: center;
            .success-text {
                font-size: 40px;
                color: #000000;
                text-align: center;
            }
            .relation-text {
                font-size: 28px;
                color: #999999;
                text-align: center;
                width: 500px;
                .time {
                    color: #DFAF7D;
                }
            }
        }
        .btn-detail {
            font-size: 32px;
            border: 1px #ececec solid;
            width: 200px;
            text-align: center;
            padding: 10px 20px;
        }
    }
}
