.instituteBasicInfo{
  //height: 282px;
  width: 100%;
  .instituteTop{
    width: 100%;
    height: 194px;
    border-bottom: 1px solid #f1f1f1;
    .instituteTopLeft{
      float: left;
      position: absolute;
      width: 130px;
      height: 130px;
      width: 17.3333vw;
      height: 17.3333vw;
      background: #fff;
      border: 1px solid #e0e0e0;
      margin-top: -20px;
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
    .instituteTopRight{
      padding-top: 4px;
      margin-left:160px;
      margin-left:21.33333333333333vw;
      >:nth-child(1){
        margin-top: 20px;
        display: flex !important;
        flex: 1;
        >:nth-child(1){
          max-width: 360px;
          flex-grow: 1;
        }
        .instituteBox{
          color: red !important;
          display: flex !important;
          justify-content: center;
          align-items: center;
          margin-right: 44px;
          min-width: 170px;
        }

      }
      >div{
        width: 100%;
        padding-bottom: 20px;
        &:nth-of-type(1){
          .instituteTitle{

            //margin-top: 20px;
            display: inline-block;
            font-size:34px;
            //line-height: 44px;
            color:#333333;
            font-weight: bold;
            //max-width: 342px;
            //max-width: 45.6vw;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
          }
        }
      }
      .instituteService {
        font-size:26px;
        >span{
          color:#666;
          &:after{
            content: 'ã€';
          }
          &:last-child{
            &:after{
              opacity: 0;
            }
          }
        }
      }
      .instituteTab{
        >span{
          font-size:26px;
          color:#666;
          &:after{
            content: '|';
            color:#999;
            margin:0 12px;
          }
          &:last-child{
            &:after{
              opacity: 0;
            }
          }
        }
      }
    }
  }
  .instituteBottom{
    width: 100%;
    height: 84px;
    line-height: 84px;
    >div{
      display: inline-block;
      float: left;
      &:nth-of-type(1){
        width: 40px;
        height: 84px;
        padding-top: 24px;
        >div{
          width: 40px;
          height: 40px;
          background: #cc1d25;
          text-align: center;
          line-height: 40px;
          font-size: 24px;
          color:#fff;
        }

      }
      &:nth-of-type(2){
        font-size:24px;
        color:#333333;
        margin-left: 26px;
        width: 580px;
        width: 77.333333vw;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      &:nth-of-type(3) {
        float:right;
        margin-right: 28px;
        width: 16px;
        height: 84px;
        background-image: url("../../img/more.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;

      }
    }

  }
}

