::-webkit-scrollbar {
    display: none !important;
}

.stopScroll {
    overflow-y: hidden !important;
}

//.com-concern{
//  font-weight: bold;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  margin-right: 36px;
//  font-size: 28px;
//  background: url("./img/newImg/icon_1.png") no-repeat;
//  background-size: cover !important;
//  width: 100px;
//  height: 60px;
//  display: inline-block;
//}
//
//.concerned{
//  background: url("./img/newImg/icon_2.png") no-repeat !important;
//  background-size: cover !important;
//  width: 100px;
//  height: 60px;
//  display: inline-block;
//}
html,
body {
    width: 100%;
    overflow-x: hidden;
}

.wrapper {
    &.ios-iPhoneX {
        padding: 176px 0 68px;
    }
    .contentBox {
        .more {
            font-size: 24px;
            color: #666;
            display: flex;
            flex-direction: row;
            align-items: center;
            i {
                color: #dfaf7d;
                font-style: normal !important;
            }
            &:after {
                content: '';
                width: 12px;
                height: 21px;
                display: block;
                background: url("./img/newImg/more.png");
                background-size: cover !important;
                margin-left: 10px;
            }
        }
        margin-top: 88px;
        >div {
            background: #fff;
        } //设计师信息
        .designerInfos {
            .desTop,
            .desBottom {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .appoint {
                    display: block;
                    background: #dfaf7d;
                    color: #fff;
                    padding: 18px 56px;
                    font-size: 34px;
                    text-align: center;
                    border-radius: 4px;
                }
                .price {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    font-size: 30px;
                    color: #333;
                    .priceNum {
                        font-size: 40px !important;
                        font-style: normal !important;
                    }
                    .priceInfo {
                        margin-right: 30px;
                    }
                    .prices {
                        align-self: flex-start;
                        display: flex;
                        flex-direction: column;
                        text-align: right;
                        margin-top: -5px;
                        .active {
                            color: #ff454a;
                        }
                        .designerBudget {
                            color: #999;
                            font-size: 22px;
                            text-decoration: line-through;
                        }
                    }
                    &:before {
                        content: '';
                        display: block;
                        width: 30px;
                        height: 40px;
                        background: url("./img/newImg/price.png");
                        background-size: cover !important;
                        margin-right: 16px;
                    }
                }
            }
            padding: 60px 40px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .desLeft,
            .desRight {
                display: flex;
                flex-direction: column;
            }
            .desLeft {
                max-width: 60%;
                .desName {
                    font-size: 56px;
                    color: #333;
                    margin-bottom: 40px;
                }
                .desWorkTime {
                    margin-bottom: 26px;
                    color: #666;
                    font-size: 28px;
                }
                .desSchool {
                    margin-bottom: 58px;
                    color: #999;
                    font-size: 24px;
                }
            }
            .desRight {
                display: flex;
                align-self: start;
                flex-direction: column;
                .pic {
                    background-size: cover !important;
                    margin-bottom: 90px;
                    background: url("./img/admin1.png");
                    width: 200px;
                    height: 200px;
                    border-radius: 100%;
                    background-size: cover !important;
                }
            }
        } //服务
        .serviceBox {
            padding: 30px 0px 50px;
            margin-bottom: 12px;
            .designerSer {
                padding: 0 30px;
                .serTitle {
                    margin-bottom: 48px;
                    padding: 0 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .boxName {
                        font-weight: bold;
                        font-size: 30px;
                        color: #333;
                    }
                    .more {
                        font-size: 24px;
                        color: #666;
                    }
                }
                .serBox {
                    position: relative;
                    &:after {
                        clear: both;
                        content: '';
                        display: block;
                    }
                    &:before {
                        content: '';
                        display: block;
                        width: 30px;
                        height: 30px;
                        background: #f5f5f5;
                        position: absolute;
                        top: -15px;
                        left: 50px;
                        transform: rotate(45deg);
                    }
                    background: #f5f5f5;
                    padding:40px 30px 0;
                    clear: both; //display: flex;
                    //flex-direction: row;
                    //flex-wrap: wrap;
                    //height: 264px;
                    //justify-content: space-between;
                    .serItems {
                        //margin: 0 13px;
                        width: 20%;
                        float: left;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center; //margin-bottom: 40px;
                        .serDesc {
                            height: 40px;
                        }
                        .serIcon {
                            background-size: cover !important;
                            margin-bottom: 14px;
                            background: red;
                            width: 60px;
                            height: 60px;
                        }
                        .serName {
                            font-size: 24px;
                            color: #666;
                        }
                    }
                }
            }
        } //所获奖项
        .honorBox {
            padding: 60px 40px 0;
            .honorTop {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .honorName {
                    font-weight: bold;
                    font-family: PingFang-SC-Medium;
                    font-size: 30px;
                    color: #333333;
                }
            }
            .honorBox {
                padding-left: 50px;
                .honorTitle {
                    font-family: PingFangSC-Regular;
                    font-size: 34px;
                    color: #333333;
                    margin-bottom: 28px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    &:before {
                        content: '';
                        width: 32px;
                        height: 38.5px;
                        display: block;
                        background: url("./img/newImg/honor.png");
                        background-size: cover !important;
                        margin: 0 20px 0 -42px;
                    }
                }
                .honorContent {
                    font-family: PingFangSC-Regular;
                    font-size: 24px;
                    color: #999999;
                    padding-bottom: 40px;
                }
            }
        } // 案例
        .caseBox {
            //padding-left: 30px;
            //padding: 0 40px 40px 40px;
            margin-top: 12px;
            .caseTop {
                padding: 40px;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                .caseName {
                    font-weight: bold;
                    font-family: PingFang-SC-Medium;
                    font-size: 30px;
                    color: #333333;
                }
            }
            .caseItemBox {
                white-space: nowrap; //display: flex;
                //flex-direction: row;
                padding-bottom: 40px;
                width: 100%;
                overflow-x: scroll;
                overflow-y: hidden !important;
                -webkit-overflow-scrolling: touch;
                .caseItem {
                    &:first-child {
                        margin-left: 24px !important;
                        .caseTitle,
                        .caseTags {
                            padding-left: 12px !important;
                        }
                    }
                    &:last-child {
                        margin-right: 46px;
                    }
                    margin-left: 16px;
                    display: inline-block;
                    .caseTitle,
                    .caseTags {
                        padding-left: 6px !important;
                    }
                    .casePic {
                        background-size: cover !important;
                        width: 670px;
                        height: 376px;
                        margin-bottom: 30px;
                    }
                    .caseTitle {
                        font-family: PingFangSC-Regular;
                        font-size: 34px;
                        color: #333333;
                        margin-bottom: 10px;
                    }
                    .caseTags {
                        font-family: PingFangSC-Regular;
                        font-size: 24px;
                        color: #999999;
                    }
                }
            }
        } //  公司&城市
        .desCityCompany {
            margin-top: 12px;
            padding: 40px 40px 50px 40px;
            .companyTop,
            .cityTop {
                font-weight: bold;
                font-family: PingFang-SC-Medium;
                font-size: 30px;
                color: #333333;
                margin-bottom: 28px;
            }
            .cityName {
                font-family: PingFangSC-Regular;
                font-size: 34px;
                color: #333333;
                margin-bottom: 70px;
            }
            .companyName {
                font-family: PingFangSC-Regular;
                font-size: 34px;
                color: #333333;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                &:after {
                    content: '';
                    display: block;
                    width: 12px;
                    height: 21px;
                    background: url("./img/newImg/more.png");
                    background-size: 100% !important;
                }
            }
        } //个人信息
        .personalInfo {
            margin-bottom: 100px;
            margin-top: 12px;
            padding: 40px;
            font-size: 30px;
            color: #333333;
            line-height: 1.5;
            .personalBox {
                margin-bottom: 60px;
            }
            .ideaTop,
            .personalTop {
                font-weight: bold;
                margin-bottom: 28px;
            }
            .personalContent,
            .ideaContent {
                word-wrap: break-word;
                word-break: normal;
            }
        }
    }
}

//预约按钮
.closeBtn {
    background: #dfaf7d;
    width: 100%;
    text-align: center;
    padding: 32px 0;
    color: #fff;
    font-size: 34px;
    position: fixed;
    bottom: 0;
    z-index: 99;
}

.appointBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    z-index: 99;
    >:nth-child(1) {
        flex-grow: 1;
    }
    >:nth-child(2) {
        background: #dfaf7d;
        text-align: center;
        padding: 32px 0;
        color: #fff;
        font-size: 34px;
        width: 430px !important;
    }
}

//弹框
.dialogInfo {
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    .shadow {
        width: 100%;
        height: 100%;
        opacity: 0.4;
        background: #000000;
        z-index: 501;
    }
    .dialogBox {
        position: absolute;
        bottom: 0;
        z-index: 502;
        width: calc(100% - 40px);
        height: 890px;
        padding: 40px 30px;
        background: #fff;
        .dTitle {
            text-align: center;
            font-family: PingFang-SC-Medium;
            font-size: 40px;
            color: #333333;
            margin-bottom: 60px;
        }
        .dItem {
            overflow-y: scroll;
            height: 700px;
            .dList {
                margin-bottom: 28px;
                display: flex;
                flex-direction: column;
                .dListTitle {
                    margin-bottom: 28px;
                    font-family: PingFang-SC-Medium;
                    font-size: 30px;
                    color: #333333;
                }
                .dListContent {
                    font-family: PingFangSC-Regular;
                    font-size: 24px;
                    color: #666666;
                }
            }
        }
    }
}

.dis {
    display: none !important;
}

.isIos {
    margin-top: 113px !important;
}

.isOpacity {
    opacity: 0 !important;
}

.tags {
    margin-bottom: 26px;
    display: flex;
    flex-direction: row;
    :last-child {
        border-right: none !important;
    }
    :first-child {
        margin-left: 0px !important;
    }
    div {
        //margin-right: 20px;
        font-family: PingFangSC-Regular;
        color: #666;
        border-right: 1px solid #666;
        padding-right: 10px;
        margin-left: 10px; //padding: 4px 12px;
        font-size: 24px;
    }
}

.tagsCase {
    margin-left: 15px !important;
}

.teamBox {
    .teamTab {
        padding-left: 30px;
        margin: 30px 0 40px 0;
        font-family: PingFang-SC-Medium;
        font-size: 30px;
        color: #333333;
        font-weight: bold;
    }
    .teamContent_2 {
        flex-direction: row !important;
    }
    .teamContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
        .teamItem {
            //margin-right: 96px;
            padding: 0 20px;
            width: 216px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            .memberPic {
                background-size: cover !important;
                width: 120px;
                height: 120px;
                border-radius: 50%;
            }
            .memberName {
                width: 180px;
                text-align: center;
                margin: 26px 0 10px;
                font-family: PingFangSC-Regular;
                font-size: 30px;
                color: #333333;
            }
            .memberPosition {
                margin: 10px 0;
                font-family: PingFangSC-Regular;
                font-size: 24px;
                color: #666666;
            }
            .memberWorkTime {
                font-family: PingFangSC-Regular;
                font-size: 22px;
                color: #999999;
            }
        }
    }
}

.leader {
    position: relative;
    margin-top: -15px;
    &:before {
        content: '';
        width: 50px;
        height: 40px;
        display: block;
        position: relative;
        top: 25px;
        left: 50px;
        background: url("./img/leader.png");
        background-size: 100% 100% !important;
    }
}

.teamItem_2 {
    width: 610px !important;
    margin-bottom: 20px !important;
    padding: 30px !important;
    display: flex;
    flex-direction: row !important;
    justify-content: space-between !important;
    width: 100%;
    margin-right: 0 !important;
    @at-root .teamContent {
        display: flex;
        flex-direction: column;
    } //.memberPic{
    //  position: relative;
    //  z-index: 999;
    //}
    border: 2px solid #e0e0e0;
    .memberName {
        text-align: left !important;
        margin-left: 30px !important;
        flex-grow: 1;
        margin-top: 10px !important;
        display: flex;
        flex-direction: column !important;
        justify-content: space-around !important;
        >:first-child {
            margin-bottom: 20px;
        }
    }
    .leader_2 {
        position: relative;
        &:before {
            content: '';
            width: 50px;
            height: 40px;
            display: block;
            position: relative;
            top: -20px;
            left: 80px;
            background: url("./img/leader.png");
            background-size: 100% 100% !important;
        }
    }
}
