{
  "extends": "eslint-config-rs",
  "env": {
    "browser": true
  },
  "ecmaFeatures": {
  },
  "rules": {
    "class-methods-use-this": [0],
    "no-underscore-dangle": [0],
    "react/sort-comp": [0],
    "import/no-extraneous-dependencies": [0],
    "react/prop-types": [0],
    "react/jsx-filename-extension": [0],
    "no-unused-expressions": [0],
    "jsx-a11y/no-static-element-interactions": [0]
  }
}
