.headPic{
  border-radius: 50%;
  background-size: 100% auto !important;
  overflow: hidden;
  position: relative;
  img{
    width: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
