.volumeRoom-comp {
    padding: 0 30px;
    .volumeRoom-title {
        background-color: rgb(255, 255, 255);
        padding: 40px 28px 60px;
        color: rgb(153, 153, 153);
        font-size: 30px;
    }
    .volumeRoom-list {
        background-color: rgb(255, 255, 255);
        padding: 30px 30px 0;
    }
}
