@charset "utf-8";
@import "../../lib/scss/base";

.styleDetailBox{
  overflow-x: hidden;
  padding-top: 0;     //无nav时
  background-color:#fff;
  @at-root .ios-nav{
    padding-top:40px;  //有nav时
  }
}
body{
  background: url("./img/ba2x.png");
  background-size: cover;
}
.main{
  width: 100%;
  position: absolute;
  padding-top: 90px;
  .styleResults{
    width:100%;
    height:1206px;
    height:90.4047976011994vh;
    background: url("./img/result2x.png");
    background-size: 100% 100%;
    .styleTitle{
      height: 96px;
      height: 7.19640179910045vh;
      position: relative;
      width: 45%;
      top: 136px;
      top: 10.19490254872564vh;
      left: 27.5%;
      background-size: 100% 100% ! important;
      img{
        width: 100%;
      }
    }
    .styleContent{
      width: 90%;
      height: 388px;
      height: 51.73333333333333vw;
      background: url("./img/text2x.png");
      background-size: 100% 100%;
      top: 14.3%;
      top: 25.43493333333333vw;
      position: relative;
      left: 5%;
      p{
        padding: 64px 64px 60px 66px;
        padding-top: 8.533333333333333vw;
        padding-right :8.533333333333333vw;
        padding-bottom:8vw;
        padding-left:8.733333333333333vw;
        font-family: PingFangSC-Regular;
        font-size: 26px;
        font-size: 3.466666666666667vw;
        color: #333333;
        letter-spacing: 0;
        line-height: 44px;
        line-height: 5.866666666666667vw;
        text-align: left;
      }
    }

  }
  .pushCase{
    width:100%;
    padding-top:40px;
    padding-top:2.998500749625187vh;
    top: 1206px;
    top: 90.4047976011994vh;
    padding-bottom: 30px;
    padding-bottom: 2.248875562218891vh;
    h3{
      font-size:32px;
      color:#333;
      padding-left: 20px;
      position: relative;
      //margin-bottom: 40px;
      margin-left: 20px;
      font-family:PingFang-SC-Regular;
      &:before{
        position: absolute;
        content: '';
        width:6px;
        height:22px;
        height:1.649175412293853vh;
        background-color: #333333;
        left:0;
        top:10px;
        top:0.7496251874062969vh;
      }
    }
    .caseInfo{
      width: 94%;
      margin-left: 3%;
      margin-top: 36px;
      margin-top: 2.698650674662669vh;
      .caseImg{
        width: 100%;
        height: 396px;
        height: 29.68515742128936vh;
        img{
          width: 100%;
          height: 396px;
          height: 29.68515742128936vh;
        }
      }
      .designer_bottom{
        display: flex;
        height:100px;
        height:7.496251874062969vh;
        width:100%;
        margin-bottom: 36px;
        margin-bottom: 2.698650674662669vh;
        margin-top: 24px;
        margin-top: 1.799100449775112vh;
        .designer_bottom_left{
          //background:#d8d8d8;
          //border:4px solid #ffffff;
          border-radius:50%;
          width:98px;
          height:98px;
          .com-default-user-content{
            height: 100%;
            width: 100%;
          }
          .com-default-img-content{
            border-radius: 50%;
            width:100%;
            height:100%;
          }
          img{
            width:98px;
            height:98px;
            border-radius: 50%;
          }
        }
        .designer_bottom_center{
          flex: 1;
          padding-left: 26px;
          p:first-child{
            font-family:PingFangSC-Semibold;
            font-size:30px;
            color:#333333;
            line-height:30px;
            line-height:2.248875562218891vh;
            text-align:left;
            margin-bottom: 24px;
            margin-bottom: 1.799100449775112vh;
            margin-top: 8px;
            margin-top: 0.5997001499250375vh;
            .designerName{
              font-weight: bold;
            }
            .cityName_desinger{
              font-family:PingFangSC-Regular;
              position: relative;
              padding-left: 34px;
              font-size: 26px;
              line-height: 26px;
              line-height: 1.949025487256372vh;
              display: inline-block;
              top:-2px;
              top:-0.1499250374812594vh;
              &:before{
                content: '';
                position: absolute;
                height:18px;
                height:1.349325337331334vh;
                width:2px;
                background-color: #444;
                left:17px;
                top:2px;
              }
            }
            .designerLevel{
              margin-left: 24px;
              img{
                width: 68px;
                height: 24px;
                height: 1.799100449775112vh;
              }
            }
          }
          p:nth-child(2){
            font-size:26px;
            font-family:PingFangSC-Regular;
            color:#333333;
            text-align:left;
            margin-bottom: 4px;
            .styleListItem{
              border: 0;
              padding-left: 0;
            }
          }
          .styleListItem{
            border:1px solid #e4e4e4;
            border-radius:2px;
            display: inline-block;
            padding:2px 12px;
            margin-right: 10px;
          }
        }
      }
    }

  }
}
