@charset "utf-8";
@import "../../lib/scss/base";

.pageWrap {
  width: 100%;
  height: 100vh;
  padding-top: 88px;
  box-sizing: border-box;
  background-image: linear-gradient(180deg, #ffffff,  rgb(249,247,246));
  &.ios-top {
    padding-top: 128px;
  }
  .com-page-nav {
    box-shadow: none;
  }
  .askWrap {
    padding: 60px 82px 0 82px;
    box-sizing: border-box;
    .askTitle {
      width: 584px;
      height: 112px;
      background: url(./img/testATTitle.png) center center no-repeat;
      background-size: cover;
    }
  }
}
