@charset "utf-8";
@import "../../lib/scss/base";

.pageWrap {
  width: 100%;
  padding-top: 88px;
  &.ios-top {
    padding-top: 128px;
  }
  .com-page-nav {
    box-shadow: none;
  }
  .articleInfo {
    width: 100%;
    padding: 40px 0 138px 0;
    .articleTitle {
      padding: 0 30px;
      font-size: 40px;
      font-family: PingFangSC-Medium;
      line-height: 56px;
      color: #333333;
      margin-bottom: 68px;
    }
  }
  .comment-content {
    display: none;
  }
  .com-page-footer .collect-content, .com-page-footer .like-content{
    width: 40%;
  }
  .com-page-footer .like-content {
    margin-left: 10%;
  }
}
